html, body { margin: 0; padding: 0; height: 100vh; overflow: hidden; }

#container {
    display: flex;
    height: 100vh;
    background-color: darkgray; }
#sidebar { 
    flex: 0 0 20%;
    padding: 5px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow: hidden;
} 
#grid { 
    margin: 2px;
    grid-template-columns: repeat(60, 1fr);
    flex: 1;
    display: grid;
    height: 99vh;
}

.smallCell {
    border: 1px solid lightgrey;
    background-color: white;
    width: 95%;
    /* aspect-ratio: 1/1; */
}


#colorGrid {
  flex: 1;              
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: calc((87.5vh -20px)/ 7); 
  justify-content: space-around;
  gap: 3px;
  overflow: hidden;
  margin: 5px 4%;
}
@media (max-width: 600px) {
  #colorGrid { grid-template-columns: 1fr; }
}

#clearButton {
    flex: 0 0 11.5vh;  
    box-sizing: border-box;
    margin: 5px 5%;
    padding: 5% 5%;
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    width: 90%;
    font-size: larger;
}

.colorLeft {
    border: 1px solid black;
    width: 85%;
    aspect-ratio: 1/1;
    cursor: pointer;
}

