/* Selector {
    Property: value;    
} */

body {
    background-image: url("https://www.w3schools.com/w3images/lights.jpg");
    background-size: cover;
}
h2 {
    color: #3E8880;
    text-align: center;
    border: 5px solid rgba(0,255,0,0.5);
    cursor: pointer;
}

p {
    color: pink;
}

li {
    list-style: none;
    display: inline-block;
}