body {
    background-color: #e2ac7f;
}

#wrap{
    margin: 10px 100px;
    border: dashed 4px black;
    background-color: white;
}

h1 {
    margin: 0;
    border-bottom: dashed 4px black;
    text-align: center;
    font-family:  Impact, serif;
    font-style: italic;
    /* font-weight: bold; */
    
}

li {
    font-family: Helvetica, sans-serif;
    text-align: center;
    list-style-type: none;
    font-style: italic;
    font-size:15px;
}

li::first-letter {
    text-transform: uppercase;
    /* font-weight: bold; */
    font-size: 25px;
}

.intro {
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.copyright {
    text-align: center;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}