* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 16px;
  font-family: Arial, sans-serif;
}

header {
  font-size: 14px;
  font-weight: bold;
  padding: 8px;
  border: 2px solid black;
  margin-bottom: 0;
  width: 480px;
}

#wrapper {
  border: 2px solid black;
  border-top: none;
  padding: 16px;
  width: 480px;
}

.red {
  float: left;
  width: 110px;
  height: 70px;
  background-color: #e6a8a8;
  border: 2px solid black;
  margin-bottom: 16px;
  margin-right: 16px;
}

.blue {
  float: left;
  width: 310px;
  height: 70px;
  background-color: #9fc5e8;
  border: 2px solid black;
  margin-bottom: 16px;
}

.yellow {
  clear: both;
  width: 436px;
  height: 60px;
  background-color: #ffd966;
  border: 2px solid black;
}
