body {
  max-width: 600px;
  margin: 0 auto;
}

.one {
  background: pink;
  border: 3px solid blue;
  /* CHANGE ME */
  padding: 20px 200px 20px 20px;
  margin: 0 0 10px 10px;
}

.two {
  background: lightblue;
  border: 3px solid purple;
  /* CHANGE ME */
  margin-bottom: 30px;
}

.three {
  background: peachpuff;
  border: 3px solid brown;
  width: 200px;
  /* CHANGE ME */
  padding: 20px 80px 20px 20px;
  margin-left: 300px;
}