header {
    padding-left: 5px;
    border: 3px solid black;
    border-bottom: none;
    width: 465px;
}

#wrapper {
  border: 3px solid black;
  padding: 10px;
  width: 450px;
}

#green {
  width: 100%;
  height: 60px;
  margin-bottom: 12px;
  background-color: green;
  border: 2px solid black;
}

#wrappics {
    display: flex;
    gap: 12px;
    margin-bottom: 10px;
}

img {
    width: 140px;
    height: 140px;
    margin: 1px;
}

#wrap {
  display: flex;
  gap: 12px;
}

.c3 {
  flex: 1;
  height: 140px;
  border: 2px solid black;
}

#orange {
    background-color: orange;
}

#red {
    background-color: red;
}

#blue {
    background-color: lightblue;
}